documentation/axiom-specification-old1.md
documentation/axiom-specification-old2.md

documentation/annotated-bib/*.aux
documentation/annotated-bib/*.bbl
documentation/annotated-bib/*.blg
documentation/annotated-bib/*.log
documentation/annotated-bib/*.out

schema/schema-diagram-notes.graphml

ghidra-scripting/*.txt
ghidra-scripting/__pycache__/