documentation/old-versions

documentation/annotated-bib/*.aux
documentation/annotated-bib/*.bbl
documentation/annotated-bib/*.blg
documentation/annotated-bib/*.log
documentation/annotated-bib/*.out

schema/schema-diagram-notes.graphml
schema/schema-diagram-images-old
schema/schema-diagram-old.graphml

ghidra-scripting/*.txt
ghidra-scripting/__pycache__/
ghidra-scripting/*.ttl